$TTL 2d
@     IN SOA   localhost.localdomain. root.localhost.localdomain. (
                          2022092400      ; serial
                          3h              ; refresh
                          1h              ; retry
                          1w              ; expiry
                          1d )            ; minimum
example.local. IN NS  example.local.
example.local. IN A   10.20.30.1
host1.example.local IN A 10.20.30.100
